
@font-face {
  font-family: 'THSarabunNew';
  src: url('THSarabunNew.eot?#iefix') format('embedded-opentype'),  url('THSarabunNew.woff') format('woff'), url('THSarabunNew.ttf')  format('truetype'), url('THSarabunNew.svg#THSarabunNew') format('svg');
  font-weight: normal;
  font-style: normal;
}
